.contact{
    color: white;
    font-weight: 500;
    margin-top: 5rem;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.button{
    width: 100%;
    align-self: center;
}
.info{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: start;
}
.info label,
.info input{
    margin: 0 1rem;
}
.info input{
    padding: .5rem;
    font-size: 15px;   
    font-weight: 400; 
    border: 1px solid gray;
    border-radius: .3rem;
}
.info input:focus{
    
}
.name,
.phone,
.email {
    display: flex;
    flex-direction: column;
    margin: .2rem 0;
    justify-content: center;
}
.name label{
    width: 100%;
}
.message{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.message div{
    display: flex;
    text-align: start;
    flex-direction: column;
    margin: 0 .2rem;
    flex-grow: 1;
}
.message div textarea{
    resize: vertical;
    padding: .5rem;
    border-radius: .3rem;
    flex-grow: 1;
    font-size: 15px;
}
.card{
    padding: 1rem;
}

.error input,
.error textarea{
    background-color: rgba(187, 67, 67, 0.658);
}