.navigation {
  display: flex;
  position: fixed;
  background-color: rgb(41, 124, 233);
  width: 100vw;

}
.navigation ul{
    display: flex;
    align-content: center;
    justify-content: center;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: white;
}
.navigation li{
    padding: .25rem 1rem;
    list-style: none;
}
