.link{
    text-decoration: none;
    background: transparent;
    padding: .5rem 1.5rem;
    margin: .5rem 1.5rem;
    border: .15rem solid white;
    border-radius: 2rem;
    color: white;
    transition: ease-in-out all 100ms;
    font-weight: 600;
    width: fit-content;
}
.link:hover{
    box-shadow: 0 0 .2rem white, 0 0 .2rem inset white;
}
.link:active{
    transform: scale(1.02);
}